{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before submitting this claim
      </h1>

      <h2 class="govuk-heading-l">
        Personal details
      </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your full name?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['firstName'] }} {{ data['middleName'] }} {{ data['lastName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/personal-details">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['dob-issued-day'] }} {{ data['dob-issued-month'] }} {{ data['dob-issued-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/personal-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your National Insurance number?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nationalInsuranceNumber'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/personal-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          
            
      </dl>
        <form class="form" action="/confirmation" method="post" onsubmit="return validateForm()">
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
      </form>

    </div>
  </div>


{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/manage-prototype",
        text: "Manage your prototype"
      },
      {
       href: "/sign-in",
       text: "Skip sign in"
     },
     {
       href: "/one-login-idv-fail",
       text: "IDV fail"
     },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ],
    visuallyHiddenTitle: "Footer links"
  }
}) }}
{% endblock %}
