{% extends "/layouts/one-login.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before submitting this claim
      </h1>

      <h2 class="govuk-heading-l">
        Personal details
      </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['firstName'] }} {{ data['middleName'] }} {{ data['lastName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/personal-details">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['dobDay'] }} {{ data['dobMonth'] }} {{ data['dobYear'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/personal-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nationalInsuranceNumber'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/personal-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value" id="home-address-value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/enter-home-address">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['emailAddress'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/email-address">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred mobile number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['mobileInput'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/mobile-number-input">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          </dl>

          <h2 class="govuk-heading-l">
            Bank account information
          </h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on the account
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['bankAccountName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/bank-account-select">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sortCode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/bank-account-select">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['accountNumber'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/bank-account-select">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payroll gender
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['genderPayroll'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/payroll-gender">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
            
      </dl>
        <form class="form" action="/confirmation" method="post" onsubmit="return validateForm()">
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
      </form>

    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Retrieve values from sessionStorage
      var houseNumberOrName = sessionStorage.getItem('houseNumberOrName') || '';
      var buildingAndStreet = sessionStorage.getItem('buildingAndStreet') || '';
      var postCode = sessionStorage.getItem('postCode') || '';
      var townOrCity = sessionStorage.getItem('townOrCity') || '';
      var county = sessionStorage.getItem('county') || '';

      // Construct the address format
      var addressHtml = `
        <p>${houseNumberOrName} ${buildingAndStreet} ${postCode}</p>
        <p>${townOrCity}</p>
        <p>${county}</p>
      `;

      // Insert the formatted address into the dd element
      document.getElementById('home-address-value').innerHTML = addressHtml;
    });
  </script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Retrieve the mobile number from sessionStorage
    var mobileNumber = sessionStorage.getItem('mobileInput');

    // If mobile number is not provided, display "Not provided"
    if (!mobileNumber || mobileNumber.trim() === '') {
      mobileNumber = 'Not provided';
    }

    // Insert the mobile number (or "Not provided") into the dd element
    document.getElementById('mobile-number-value').textContent = mobileNumber;
  });
</script>
  

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/manage-prototype",
        text: "Manage your prototype"
      },
      {
       href: "/sign-in",
       text: "Skip sign in"
     },
     {
       href: "/one-login-idv-fail",
       text: "IDV fail"
     },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ],
    visuallyHiddenTitle: "Footer links"
  }
}) }}
{% endblock %}
