{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Claim submitted",
        html: "Your claim reference<br><strong>HDJ2123F</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        You’ve completed a claim for an early years incentive payment.
      </h2>

      <p>
        We've sent a confirmation email to {{ data['emailAddress'] }}.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We’ll review your claim and let you know by email if it’s been accepted or rejected.
      </p>

      <p>After 6 months, we’ll check with [nursery-setting] that you’re still working for them. If you are: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>we’ll pay the full incentive amount into your bank account</li>
                  <li>email you to confirm the payment</li>
      </ul>
      
      <p>
        <a href="#">What do you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/manage-prototype",
        text: "Manage your prototype"
      },
      {
       href: "/sign-in",
       text: "Skip sign in"
     },
     {
       href: "/one-login-idv-fail",
       text: "IDV fail"
     },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ],
    visuallyHiddenTitle: "Footer links"
  }
}) }}
{% endblock %}
