{% extends "/layouts/one-login.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l">
          Enter the 6-digit passcode
        </label>
      </h1>
            
    <div id="event-name-hint" class="govuk-hint">
      <p>We've sent an email to {{ data['emailAddress'] }} with a 6-digit passcode.</p>
     </div>

     <div id="event-name-hint" class="govuk-hint">
      <p>The passcode will expire after 15 minutes.</p>
     </div>

    <div class="govuk-form-group">
      <input class="govuk-input govuk-input--width-10" id="passcode-number" name="passcodeNumber" type="text">
    </div>
    </div>

    <p><a href="/email-address">Resend password (goes back to the email address page)</a></p>


    <form action="/handle-confirm" method="post">
      <div class="govuk-button-group">
          <button type="submit" name="action" value="confirm" class="govuk-button">
              Confirm
          </button>
          <button type="submit" name="action" value="change_email" class="govuk-button govuk-button--secondary">
              Change email address
          </button>
      </div>
  </form>
  

</div>
</div>


{% endblock %}


