{% extends "/layouts/one-login.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">What is your address?</h1>

      <!-- Address fields -->
      <div class="govuk-form-group">
        <label class="govuk-label" for="house-number-or-name">House number or name</label>
        <input class="govuk-input" id="house-number-or-name" name="houseNumberOrName" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="building-and-street">Building and street</label>
        <input class="govuk-input" id="building-and-street" name="buildingAndStreet" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="town-or-city">Town or city</label>
        <input class="govuk-input govuk-input--width-20" id="town-or-city" name="townOrCity" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="county">County</label>
        <input class="govuk-input govuk-input--width-20" id="county" name="countyName" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="post-code">Postcode</label>
        <input class="govuk-input govuk-input--width-5" id="post-code" name="postCode" type="text">
      </div>
    
      {{ govukButton({
        text: "Continue",
        href: "email-address",
        id: "continue-button"
      }) }}

      <script>
        document.getElementById('continue-button').addEventListener('click', function() {
          var houseNumberOrName = document.getElementById('house-number-or-name').value;
          var buildingAndStreet = document.getElementById('building-and-street').value;
          var townOrCity = document.getElementById('town-or-city').value;
          var county = document.getElementById('county').value;
          var postCode = document.getElementById('post-code').value;
  
          // Store values in localStorage or sessionStorage
          sessionStorage.setItem('houseNumberOrName', houseNumberOrName);
          sessionStorage.setItem('buildingAndStreet', buildingAndStreet);
          sessionStorage.setItem('townOrCity', townOrCity);
          sessionStorage.setItem('county', county);
          sessionStorage.setItem('postCode', postCode);
  
          // Redirect to the next page
          window.location.href = 'payroll-gender';
        });
      </script>

{% endblock %}
