{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How we’ll use the information you provide
      </h1>

      <h2 class="govuk-heading-m">
        How we process your claim 
      </h2>

      <p>We'll check the information you've given us with the early years provider where you currently work.</p>

      <h2 class="govuk-heading-m">
        How we pay you
      </h2>

      <p>The Department for Education will make the payment directly to you.</p>
      
      <h2 class="govuk-heading-m">
        Student loan deductions
      </h2>

      <p>If your payslip shows that you’re currently paying off a student loan, a deduction from your payment will go towards repaying it.</p>
      <p>If your payment takes you over the amount you must earn to start paying back a student loan, a deduction may go towards repaying it. Read more about <a href="https://www.gov.uk/repaying-your-student-loan/when-you-start-repaying">when you start paying back a student loan</a> and <a href="https://www.gov.uk/repaying-your-student-loan/what-you-pay">what you'll pay</a>.</p>

      <h2 class="govuk-heading-m">
        Income Tax
      </h2>

      <p>The Department for Education will pay Income Tax and National Insurance on your incentive payment if your total annual income is less than £50,270.</p>

      <br>
      {{ govukButton({
        text: "Continue",
        href: "/one-login-sign-in",
        isStartButton: false
      }) }}


{% endblock %}

