{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How we'll process your claim
      </h1>

      <h2 class="govuk-heading-m">
        How we check the information you've provided 
      </h2>

      <p>We'll check the information you've given us with the nursery where you currently work.</p>

      <h2 class="govuk-heading-m">
        How we pay you
      </h2>

      <p>The Department for Education will pay the money into your bank account. This will happen around 6 weeks after we've confirmed you're still working in your role at 6 months.</p>

            <h2 class="govuk-heading-m">
        Income Tax
      </h2>

      <p>The Department for Education will pay Income Tax and National Insurance on your incentive payment if your total annual income is less than £50,270.</p>

                  <h2 class="govuk-heading-m">
        Universal Credit
      </h2>

      <p>If you claim Universal Credit, your £1000 payment may affect the amount of Universal Credit you receive.</p>
      <p>Read more about <a href="https://www.gov.uk/guidance/universal-credit-and-earnings">how changes to your earnings affect your Universal Credit</a>.</p>
      
      <h2 class="govuk-heading-m">
        Student loan
      </h2>

      <p>Your £1000 payment will not be affected by any funding you have previously received to study for a college course or apprenticeship.</p>
      <p>If you have previously studied at university, your £1000 payment may affect your student loan repayments.</p>

      <h3 class="govuk-heading-s">
      If you're currently repaying a student loan
      </h3>

      <p>If your payslip shows that you’re repaying a student loan, a deduction towards it may come out of your £1000 payment.</p>
      <p>You may be able to claim any deductions back at the end of the tax year. Read more about how you can <a href="https://www.gov.uk/repaying-your-student-loan/getting-a-refund">claim back student loan deductions</a>.</p>

      <h3 class="govuk-heading-s">
      If you have a student loan but are not currently repaying it
      </h3>

      <p>If your payment takes you over the amount you must earn to start paying back a student loan, a deduction may go towards repaying it.</p>
      <p>Read more about <a href="https://www.gov.uk/repaying-your-student-loan/when-you-start-repaying">when you start paying back a student loan</a> and <a href="https://www.gov.uk/repaying-your-student-loan/what-you-pay">what you'll pay</a>.</p>
      <p>You may be able to claim any deductions back at the end of the tax year. Read more about how you can <a href="https://www.gov.uk/repaying-your-student-loan/getting-a-refund">claim back student loan deductions</a>.</p>
      
      <br>
      {{ govukButton({
        text: "Continue",
        href: "/one-login-sign-in",
        isStartButton: false
      }) }}


{% endblock %}

