{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
          <div class="govuk-inset-text">
            This index page links to the prototype of the {{ serviceName }}.
            <br>
            <br>
            <a href="/policy">Read more</a> about how early years financial incentive payments work.
          </div>
               <p>
                <a href="/email-address-page" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                  Start now
                  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                  </svg>
                </a>
              </p>
              <br>
              <hr>
              <br>


                    <h2 class="govuk-heading-m">Skip to screens</h2>

          <ul class="govuk-list your-services__list ">
        


            <li class="your-services__card">
              <h3 class="govuk-heading-s your-services__card__heading" data-test-id="account-card-heading">Signing into the EYFI digital service</h3>
              <div class="your-services__card__content">
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/email-address-page" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                </div>
                <p>
                  <a class="govuk-link govuk-link--no-visited-state" href="/email-address-page">Enter email address to retrieve code</a>
                </p>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/sign-in" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/sign-in">Sign into the EYFI service using a valid reference number</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/incorrect-code" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/incorrect-code">Failed sign into the EYFI service using an invalid reference number</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/submitted-code-input" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/submitted-code-input">Failed sign into the EYFI service using a code attached to a fully submit claim</a>
                  </p>
                </div>
              </div>
            </li>


            <li class="your-services__card">
              <h3 class="govuk-heading-s your-services__card__heading" data-test-id="account-card-heading">GOV.UK One Login</h3>
              <div class="your-services__card__content">
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/one-login-sign-in" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                </div>
                <p>
                  <a class="govuk-link govuk-link--no-visited-state" href="/one-login-sign-in">Sign in with GOV.UK One Login (claims page)</a>
                </p>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/one-login-create-account" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/one-login-create-account">Create a GOV.UK One Login account or sign in (OL page)</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/one-login-successful-sign-in" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/one-login-successful-sign-in">Successfully sign in to GOV.UK One Login (claims page)</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/one-login-idv" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/one-login-idv">Prove your identity with GOV.UK One Login (OL page)</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/one-login-idv-success" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/one-login-idv-success">Successfully proved your identity with GOV.UK One Login (claims page)</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/one-login-idv-fail" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/one-login-idv-fail">Failed to prove your identity with GOV.UK One Login (claims page)</a>
                  </p>
                </div>
              </div>
            </li>


            <li class="your-services__card">
              <h3 class="govuk-heading-s your-services__card__heading" data-test-id="account-card-heading">Personal details journey</h3>
              <div class="your-services__card__content">
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/how-we-use-your-information" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                </div>
                <p>
                  <a class="govuk-link govuk-link--no-visited-state" href="/how-we-use-your-information">How we'll use the information you provide</a>
                </p>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/personal-details" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/personal-details">Collecting full name, date of birth, and National Insurance number</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/enter-home-address" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/enter-home-address">Collecting home address</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/email-address" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/email-address">Collecting preferred email address</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/email-otp" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/email-otp">Input an OTP after providing your preferred email address</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/mobile-number" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/mobile-number">Choose to provide your mobile number</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/mobile-number-input" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/mobile-number-input">Input your preferred mobile number</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/mobile-number-otp" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/mobile-number-otp">Input an OTP after providing your preferred mobile number</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/bank-account-select" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/bank-account-select">Input your bank account information</a>
                  </p>
                </div>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/payroll-gender" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/payroll-gender">Input your payroll gender</a>
                  </p>
                </div>
              </div>
            </li>

            <li class="your-services__card">
              <h3 class="govuk-heading-s your-services__card__heading" data-test-id="account-card-heading">Claim submission</h3>
              <div class="your-services__card__content">
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/check-answers" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                </div>
                <p>
                  <a class="govuk-link govuk-link--no-visited-state" href="/check-answers">Check your answers before submitting this claim</a>
                </p>
                <div class="govuk-iframe--container">
                  <iframe class="govuk-iframe" src="/confirmation" height="420px" aria-hidden="true" tabindex="-1"></iframe>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="/confirmation">Confirmation of a fully submit claim</a>
                  </p>
                </div>
              </div>
            </li>
          
      </div>
    </div>
  </main>
</div>



{% endblock %}
