{% extends "/layouts/one-login.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
    </span>
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" action="/mobile-number-input" method="post"> 
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="mobileNumber">
          Your mobile number
        </label>
      </h1>
      <div id="mobile-hint" class="govuk-hint">
       <p>We'll check the number by sending a text message with a passcode.</p>
      </div>

      <!-- Mobile Number Field with Error Handling -->
      <div id="mobile-number-group" class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
        {% if error %}
        <p id="mobile-number-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error }}
        </p>
        {% endif %}
        <input class="govuk-input {% if error %}govuk-input--error{% endif %}" 
               id="mobileNumber" 
               name="mobileInput" 
               type="text" 
               spellcheck="false" 
               value="{{ mobileNumber }}">
      </div>

      {{ govukButton({
        text: "Continue",
        id: "submit-button"
      })}}
    </form>
  </div>
</div>
{% endblock %}


<script>

  const sendText = require('./test'); // Import the sendEmail function
  
    document.getElementById('textForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        
        const email = document.getElementById('text').value; // Get user input email
        
        // Call sendEmail function with the user input email
        sendEmail(text);
    });
  
    </script>
