{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  

    <form action="/check-answers" method="POST">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
            How is your gender recorded on your employer’s payroll system?
          </label>
        </h1>
        <br>
        <div id="event-name-hint" class="govuk-hint">
         <pp style="color:#505A5F;"> We’re asking you this because HMRC records gender as male or female. We need to match their records to make tax contributions on your behalf. </p>

        <p style="color:#505A5F;"> If you don’t know what gender is held on record, we’ll contact HMRC.</p>
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="genderPayrollFemale" name="genderPayroll" type="radio" value="female">
            <label class="govuk-label govuk-radios__label" for="genderPayrollFemale">
              Female
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="genderPayrollMale" name="genderPayroll" type="radio" value="male">
            <label class="govuk-label govuk-radios__label" for="genderPayrollMale">
              Male
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="genderPayrollUnsure" name="genderPayroll" type="radio" value="unsure">
                <label class="govuk-label govuk-radios__label" for="genderPayrollUnsure">
                  I don't know
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>    


{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/manage-prototype",
        text: "Manage your prototype"
      },
      {
       href: "/sign-in",
       text: "Skip sign in"
     },
     {
       href: "/one-login-idv-fail",
       text: "IDV fail"
     },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ],
    visuallyHiddenTitle: "Footer links"
  }
}) }}
{% endblock %}
