{% extends "/layouts/one-login.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
    Personal details
  </h1>

  <h2 class="govuk-heading-m">What is your full name?</h2>

  <form class="form" action="/enter-home-address" method="post">
    <p>
      <div id="first-name-group" class="govuk-form-group">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        <p id="first-name-error" class="govuk-error-message" style="display: none;">
          <span class="govuk-visually-hidden">Error:</span> Enter employee's first name
        </p>
        <input class="govuk-input" id="first-name" name="firstName" type="text" value="{{ data['first-name'] }}" autocomplete="first-name">
      </div>
      <div id="first-name-group" class="govuk-form-group">
        <label class="govuk-label" for="middle-name">
          Middle names
        </label>
        </p>
        <input class="govuk-input" id="middle-name" name="middleName" type="text" value="{{ data['middle-name'] }}" autocomplete="middle-name">
      </div>

      <div id="last-name-group" class="govuk-form-group">
        <label class="govuk-label" for="last-name">
          Last name
        </label>
        <p id="last-name-error" class="govuk-error-message" style="display: none;">
          <span class="govuk-visually-hidden">Error:</span> Enter employee's last name
        </p>
        <input class="govuk-input" id="last-name" name="lastName" type="text" value="{{ data['last-name'] }}" autocomplete="last-name">
      </div>
    </p>

  <br>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
         What is your date of birth?
        </h1>
      </legend>
      <div id="dob-hint" class="govuk-hint">
        For example, 31 03 1980. We need this information to verify your identity.
      </div>
      <div class="govuk-date-input" id="dob-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-issued-day" name="dobDay" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-issued-month" name="dobMonth" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-issued-year" name="dobYear" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <br>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="ni-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
        What is your National Insurance number?
        </h1>
      </legend>
      <div id="ni-hint" class="govuk-hint">
        It’s on your National Insurance card, benefit letter, payslip or P60. For example ‘QQ123456C’.
      </div>
      <div class="govuk-date-input" id="ni-issued">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <input class="govuk-input govuk-input--width-10" id="ni-number" name="nationalInsuranceNumber" type="text">
              </div>
        </div>

        </div>
    </div>

    
    {{ govukButton({
      text: "Continue"
    }) }}


      </form>

{% endblock %}


{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/manage-prototype",
        text: "Manage your prototype"
      },
      {
       href: "/sign-in",
       text: "Skip sign in"
     },
     {
       href: "/one-login-idv-fail",
       text: "IDV fail"
     },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ],
    visuallyHiddenTitle: "Footer links"
  }
}) }}
{% endblock %}