{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  
  <!-- Error Summary -->
  <div id="error-summary" class="govuk-error-summary" data-module="govuk-error-summary" style="display: none;">
    <div role="alert">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#reference-number">Enter your claim reference</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" id="claim-reference-form" action="" method="post" novalidate>
        <div id="reference-number-group" class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="reference-number">
              Enter your claim reference
            </label>
          </h1>
          <div id="reference-number-hint" class="govuk-hint">
            <p>Your claim reference is in the claim invite email from your employer.
            It's a series of letters and numbers, like ABC1234E.</p>
          </div>
          <p id="reference-number-error" class="govuk-error-message" style="display: none;">
            <span class="govuk-visually-hidden">Error:</span> Enter your claim reference.
          </p>
          <input class="govuk-input govuk-input--width-10" id="reference-number" name="referenceNumber" type="text" spellcheck="false" aria-describedby="reference-number-hint reference-number-error" inputmode="numeric">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

  <script>
    document.getElementById('claim-reference-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission
      
      // Get the value from the input field
      const input = document.getElementById('reference-number').value.trim().toUpperCase();
      const inputGroup = document.getElementById('reference-number-group');
      const errorMessage = document.getElementById('reference-number-error');
      const errorSummary = document.getElementById('error-summary');

      // Check if the input field is empty
      if (input === '') {
        // Show the error summary
        errorSummary.style.display = 'block';

        // Add the error state to the input group
        inputGroup.classList.add('govuk-form-group--error');
        errorMessage.style.display = 'block';
        document.getElementById('reference-number').classList.add('govuk-input--error');
      } else if (input === 'HDJ2123F') {
        // If the code is correct, redirect to the success page
        window.location.href = '/how-we-use-your-information';
      } else {
        // If the code is incorrect, redirect to the error page
        window.location.href = '/incorrect-code';
      }
    });
  </script>
{% endblock %}
